<!-- <nav class="navbar navbar-nav navbar-dark bg-dark ">
    <a class="navbar-brand" href="#" style="margin-left:10px">
        <img src="../../assets/logo.png" width="45" height="30" class="d-inline-block align-top" alt=""> &nbsp;Corporate Classifieds
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
<div class="navbar">
    <!-- <div class="collapse navbar-collapse d-lg-flex justify-content-center" id="navbarSupportedContent">  -->
    <a class="navbar-brand" href="#" style="margin-left:10px">
        <img src="../../assets/images/logo.jpg" width="45" height="30" class="d-inline-block align-top" alt=""> &nbsp;Mail Order Pharmacy
    </a>

        <ul class="list-unstyled" id="pageSubmenu">

            <li><a href = "/dashboard">Home</a></li>

            <li><a href="/viewdrugs">Drugs</a></li>

            <li><a href="/getsubscriptionlist">My Subscriptions</a></li>

            <li><a href="/getdues">My Dues</a></li>

            <!-- <li><a href="/subscribe">Subscribe</a></li> -->

            <li><a href="/refillhistory">History</a></li>



            <li style="float:right"><a class="active" href="/logout">Logout</a></li>

        </ul>


    <!-- </div> -->
</div>
<!-- </nav> -->
