.navbar{
    margin-top: 0;
    padding: 0;
    width:100%;
    justify-content: center;
    background-color:rgba(7, 135, 194, 0.993) ;
    display: flex;

}

ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: #333;

  }

  

  li {

    float: left;

  }

  

  li a {

    display: block;

    color: white;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

  }

  

  /* Change the link color to #111 (black) on hover */

  li a:hover {

    background-color:#007bff;
   

  }

.navbar-brand{
    margin-right:50%;
}

.navbar-brand a img{
    background-color:rgba(7, 135, 194, 0.993) ;
}
