<div class="navbar">
    <!-- <div class="collapse navbar-collapse d-lg-flex justify-content-center" id="navbarSupportedContent">  -->
		<a class="navbar-brand" href="#" style="margin-left:0px">
			<img src="../../assets/images/logo.jpg" width="45" height="30" class="d-inline-block align-top" alt=""> &nbsp;Mail Order Pharmacy
		</a>

        <ul class="list-unstyled" id="pageSubmenu">

            <li><a href = "">Home</a></li>

            <!-- <li><a href="/viewdrugs">Drugs</a></li>

            <li><a href="/getsubscriptionlist">My Subscriptions</a></li> -->

            <!-- <li><a href="/subscribe">Subscribe</a></li> -->

            <li><a href="/refillhistory">History</a></li>



            <li style="float:right"><a class="active" href="/login">Login</a></li>

        </ul>


    <!-- </div> -->
</div>
<!--  <div class="home">
    <div>Mopharm</div>
    <ul>
        <li><a>Home</a></li>
        <li><a>Our services</a></li>
        <li><a routerLink="login">Login</a></li>
    </ul>
</div> -->


	<!-- <title>Secure File Storage on cloud using Hybrid Cryptography</title> -->
	 <!-- add bootstrap css file -->

     

  <!-- navbar -->

  <!-- <nav class="navbar navbar-expand-lg fixed-top ">
	  <a class="navbar-brand" href="home">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse " id="navbarSupportedContent">
	    <ul class="navbar-nav mr-4">
	      
	      <li class="nav-item">
	        <a class="nav-link" data-value="about" href="#">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " data-value="portfolio" href="#">Portfolio</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " data-value="blog" href="#">Blog</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " data-value="team" href="#">
	        Team</a>
	      </li>
		  <li class="nav-item">
	        <a class="nav-link " data-value="login" href="login">Login</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " data-value="register" href="register">Register</a>
	      </li>
		  <li class="nav-item">
			  <a class="nav-link"  data-value="contact" href="#">Contact Us</a>
		  </li>
	    </ul>
	    
	  </div> 
</nav>-->
<!-- header -->
<!-- <header class="header ">
  <div class="overlay"> 
    <img alt="Image of Seal" src="../home/headerback.jpg">  
  </div>
   <div class="container">
   	  <div class="description" >
  	<h1>
  	 SECURING FILE STORAGE ON CLOUD USING HYBRID CRYPTOGRAPHY
  		<p>
  		    In this website, we will show the secure uploading and downloading from the cloud storage.</p>-->
			<!--<button class="btn btn-outline-secondary btn-lg" >See more</button>-->
			<!-- <a href="#about" class="btn btn-get-started scroll-to">See more</a>
  	</h1>
  </div>
   </div>
  
</header> --> 

<!-- about section -->
<!-- <div class="about" id="about">
	<div class="container">
	  <h1 class="text-center">About the Project</h1>
		<div class="row"> -->
			<!--<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/team-3.jpg" class="img-fluid">
				<span class="text-justify">S.Web Developer</span>
			</div>-->
			<!-- <div class="col-lg-8 col-md-8 col-sm-12 desc">
			  
				<h3>Secure File Storage</h3>
				<p>
				   Security of the data is the main domain of our website. Here the files are encrypted using Cryptographic
				   Algorithms when uploaded. Their Security and maintenance is the priority as it can be loss its value. Each and Every file 
				   uploaded is safe and secure. To download the files uploaded here, Authentication of user is done. Only the Authenticated user
				   only can access their files stored in the website.<br/>
				   
				   To use this service, the User must register and login to this website. You can upload files and download files whenever the user 
				   wants after login to the website.
				</p>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 desc">
				<h3>Confidentiality and Integrity</h3>
				<p>
					Confidentality is the main focus and data storage is efficient with cloud storage. Cloud storage has the strict functionality 
					that will not allow the intruders strive for your data. Your data is secured in our hands.
					Integrity is the best practice for making the new ideas in the life. "Integrity is the seed for achievement. It is the principle that never fails" is the best Quote.
					we will make sure to provide you our full services.

				</p>
		</div>
	</div>
</div> -->
<!--
portfolio 
<div class="portfolio" id="portfolio">
     <h1 class="text-center">Portfolio</h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/port13.png" class="img-fluid">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/port1.png" class="img-fluid">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/port6.png" class="img-fluid">
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/port3.png" class="img-fluid">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/port11.png" class="img-fluid">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/electric.png" class="img-fluid">
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/Classic.jpg" class="img-fluid">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/port1.png" class="img-fluid">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/port8.png" class="img-fluid">
			</div>
		</div>
	</div>
</div>


 Posts section 
<div class="blog" id="blog">
	<div class="container">
	<h1 class="text-center">Blog</h1>
		<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/posts/polit.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
					<h4 class="card-title">Post Title</h4>
						<p class="card-text">
							
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/posts/images.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
					   <h4 class="card-title">Post Title</h4>
						<p class="card-text">
							
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/posts/imag2.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
					<h4 class="card-title">Post Title</h4>
						<p class="card-text">
							
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->

<!-- Team section -->
<!--<div class="team" id="team">
	<div class="container">
	   <h1 class="text-center">Our Team</h1>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="images/team-2.jpg" class="img-fluid" alt="team">
				<div class="des">
				 	Sara
				 </div>
				<span class="text-muted">Manager</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="images/team-3.jpg" class="img-fluid" alt="team">
				<div class="des">
				 	 Chris
				 </div>
				<span class="text-muted">S.enginner</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="images/team-2.jpg" class="img-fluid" alt="team">
				<div class="des">
				 	Layla 
				 </div>
				<span class="text-muted">Front End Developer</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="images/team-3.jpg" class="img-fluid" alt="team">
				 <div class="des">
				 	J.Jirard
				 </div>
				<span class="text-muted">Team Manger</span>
			</div>
		</div>
</div>-->
<!-- <div class="team" id="team">
	<div class='container mx-auto mt-5 col-md-10 mt-100 mb-100'>
	<h1 class="text-center">Our Team</h1>
		<div class="row" style="justify-content: center">
			<div class="card col-md-3 mt-100 mb-50">
				<div class="card-content">
					<div class="card-body p-0">
						<div class="profile"> <img src="/assets/images/mohana.jpg"> </div>
						<div class="card-title"> N.Himagirimohana<br /> <small>Student</small> </div>
						<div class="card-subtitle">
							<p> <small class="text-muted"> At Sir C.R.Reddy college of Engineering<br/>Roll no: 17B81A05B2 </small> </p>
						</div>
					</div>
				</div>
			</div>
			<div class="card col-md-3 mt-100 mb-50">
				<div class="card-content">
					<div class="card-body p-0">
						<div class="profile"> <img src="/assets/images/laya.jpg"> </div>
						<div class="card-title"> N.Laya<br /> <small>Student</small> </div>
						<div class="card-subtitle">
							<p> <small class="text-muted"> At Sir C.R.Reddy College of Engineering<br/>Roll no: 17B81A05B3</small> </p>
						</div>
					</div>
				</div>
			</div>
			<div class="card col-md-3 mt-100 mb-50">
				<div class="card-content">
					<div class="card-body p-0">
						<div class="profile"> <img src="/assets/images/pavithra1.jpg"> </div>
						<div class="card-title"> N.Pavithra<br /> <small>Student</small> </div>
						<div class="card-subtitle">
							<p> <small class="text-muted"> At Sir C.R.Reddy College of Engineering<br/>Roll no: 17B81A05B4</small> </p>
						</div>
					</div>
				</div>
			</div>-->
		<!--<div class="row" style="justify-content: center"></div>-->
			<!-- <div class="card col-md-3 mt-100">
				<div class="card-content">
					<div class="card-body p-0">
						<div class="profile"> <img src=" /assets/images/krishna1.jpg"> </div>
						<div class="card-title"> N.Raja Krishna<br /> <small>Student</small> </div>
						<div class="card-subtitle">
							<p> <small class="text-muted"> At Sir C.R.Reddy College of Engineering<br/>Roll no: 17B81A05B5</small> </p>
						</div>
					</div>
				</div>
			</div>
			<div class="card col-md-3 mt-100">
				<div class="card-content">
					<div class="card-body p-0">
						<div class="profile"> <img src="/assets/images/dolly.jpg"> </div>
						<div class="card-title"> P.Dolly<br /> <small>Student</small> </div>
						<div class="card-subtitle">
							<p> <small class="text-muted"> At Sir C.R.Reddy College of Engineering<br/>Roll no:17B81A05B6 </small> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> --> 

<!-- Contact form -->
<!-- <div class="contact-form" id="contact">
	<div class="container">
		<form>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
				  <h1>Get in Touch</h1>	
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 right">
				   <div class="form-group">
				   	 <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="">
				   </div>
				   <div class="form-group">
				   	 <input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email">
				   </div>
				   <div class="form-group">
				   	 <textarea class="form-control form-control-lg">
				   	 	
				   	 </textarea>
				   </div>
				   <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
				</div>
			</div>
		</form>
	</div>
</div> -->
	
	<!-- <footer class="footer mt-auto py-3" style="background:#F97300;">
	<div class="container">
		<p class="text-center text-white lead">Copyright &copy; <script type="text/javascript">
			document.write(new Date().getFullYear());
		  </script> Website</p>
	  
	</div>
  </footer> -->
<!-- add Javasscript file from js file -->
<!-- <script type="text/javascript" src="/assets/js/jquery.min.js"></script> -->
<!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->


