<div class="main-container-register">
    <div class="section grid">
        <div class="side-navbar">
            <ul class="list-unstyled" id="pageSubmenu">
                <li><a href="/viewdrugs">Drugs Available</a></li>
                <li><a href="/subscribe">Subscribe</a></li>
                <li><a href="/viewrefillstatus">View Refill Status</a></li>
                <li><a href="/refillhistory">View Refill History</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

        </div>
       </div>
      </div>  
